.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    width: 350px;
  }
  
  .product-card:hover {
    transform: scale(1.01);
  }
  
  .product-image {
    width: 100%;
    max-height: 300px;
    height: auto;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 16px;
    color: #e74c3c; /* Red color for price */
  }
  .product-nanePrice{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .view-details {
    background-color: #007bff; /* Blue color for the button */
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.2s;
    margin-top: 10px;
    width: 100%;
  }
  
  .buy-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  