
.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf8f8;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 50%;
  }
  
  .product-image {
    width: 300px;
   
  }
  
  .product-details-title {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
  }
  
  .product-details-content {
    font-size: 18px;
    color: #666;
    text-align: center;
  }
  
  .product-name {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
  }
  
  .product-description {
    font-size: 18px;
    color: #666;
    margin: 5px 0;
  }
  
  .product-price {
    font-size: 24px;
    color: #d9534f;
  }
  
  .buy-now{
    padding: 10px 30px;
  }
  
  .head{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .back-link{
    font-size: 20px;
    font-weight: 700;
    background-color: #007BFF;
    padding: 5px 20px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
  @media (max-width: 768px) {
    .product-details-content {
      font-size: 16px;
    }
  }
  